*.ilk
*.obj
*.exp
*.tlog
*.log
*.pdb
*.idb
*.sdf
*.user
*.suo
*.opensdf
*.DB-wal
*.DB-shm
lib/GCored.lib
lib/GGeometryd.lib
bin/GCored.dll
bin/GGeometryd.dll
lib/CsCore_Testd.lib
bin/GCore_Testd.exe
bin/GGeometryd_Testd.lib
bin/GGeometryd_Testd.exe
.vscode/.BROWSE.VC.DB