*.ilk
*.obj
*.exp
*.tlog
*.log
*.pdb
*.idb
*.sdf
*.user
*.suo
*.bsc
*.sbr
*.opensdf
*.DB-wal
*.DB-shm
*.db
*.opendb
lib/GCored.lib
bin/GCored.dll
lib/GCore.lib
bin/GCore.dll
lib/GGeometryd.lib
bin/GGeometryd.dll
lib/GGeometry.lib
bin/GGeometry.dll
lib/GDataTabled.lib
bin/GDataTabled.dll
lib/GDataTable.lib
bin/GDataTable.dll
lib/GSerializationd.lib
bin/GSerializationd.dll
lib/GSerialization.lib
bin/GSerialization.dll
lib/GCore_Testd.lib
bin/GCore_Testd.exe
lib/GCore_Test.lib
bin/GCore_Test.exe
lib/GGeometry_Testd.lib
bin/GGeometry_Testd.exe
lib/GGeometry_Test.lib
bin/GGeometry_Test.exe
lib/GDataTable_Testd.lib
bin/GDataTable_Testd.exe
lib/GDataTable_Test.lib
bin/GDataTable_Test.exe
lib/GSerialization_Testd.lib
bin/GSerialization_Testd.exe
lib/GSerialization_Test.lib
bin/GSerialization_Test.exe