lib/CsCored.lib
lib/CsGeometryd.lib
bin/CsCored.dll
bin/CsGeometryd.dll
bin/CsCore_Testd.exe
*.ilk
*.obj
*.exp
*.tlog
*.log
*.pdb
*.idb
*.sdf
*.user
*.suo
*.opensdf
.vscode/.BROWSE.VC.DB
*.DB-wal
lib/CsCore_Testd.lib